/* BODY */
body {
    color:#434455;
    background: #FFF;
    font-family: "Roboto", sans-serif;


}
h1,
h2,
h3,
p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* HEADER */
.header {
    border-bottom: 1px solid#E7E9FC;
    background-color:#FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.container-header {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
}
.nav-menu {
    display: flex;
    align-items: center;
    margin-right: 76px; 
}

.logo-web {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration: none;
}
.logo-studio {
    color:#2E2F42;
    font-family: "Raleway" , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03;
    margin-right: 76px;
    text-decoration: none;
}
.list-nav .nav {
    color:#2E2F42;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list-nav {
    display: flex;
    gap: 40px;
}
.nav {
    padding: 24px 0 24px 0;
    position: relative;
    text-decoration: none;
}
.nav.active {
    color: #404BBF;
    transition: color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}
.nav:hover , .nav:focus {
    color:#404bbf;
}
.address {
    font-style: normal;
    padding: 24px 0 24px 0;
}
    
.contacts {
    display: flex;
    gap: 40px;
  }   

.contacts .contacts-item {
    color:#434455;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts-item:hover , .contacts-item:focus{
    color:#404bbf;
}
.contacts-item {
    transition: color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Main Content */
.hero {
    max-width: 1440px;
    background-color:#2E2F42;
    padding: 188px 0 188px 0;
    background-image:linear-gradient(
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)),
    url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;


}
   
.title {
    color:#fff;
    font-family: "Roboto";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align:center;
    max-width:496px;
    margin: auto;
    margin-bottom: 48px;
}
.button-in-hero {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;

    color:#fff;
    background-color:#4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height:1.5; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-in-hero:hover , .button-in-hero:focus {
    background-color:#404BBF;
}
.under-hero {
    padding: 120px 0 120px 0;
}
/* Icons under hero */
.box-for-icons {
 display: flex;
 align-items: center;
 justify-content: center;
   
width: 264px;
height: 112px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid#8E8F99;
background: #F4F4FD;
padding: 24px 100px;
margin-bottom: 8px;
gap: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
    overflow: hidden;
}

.list-criteria {
    display: flex;
    gap: 24px;
}
.list-items {
    width: calc((100% - 72px) / 4);
}
.item {
    color:#2E2F42;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
    margin-bottom: 8px;
}


.text {
    color:#434455;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    text-align: left;
}

/* Our Team */
.our-team-section {
    background-color:#F4F4FD;
    padding: 120px 0 120px 0;
}
.team {
    color:#2E2F42;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.list-our-team {
    display: flex;
    gap: 24px;
}
.list-of-people {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.employees {
    padding: 32px 0;   
}
.item-people {
    color:#2E2F42;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px; 
}

.text-people {
    color:#434455;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.pages-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}
.social-icons {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.link-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
   background-color: #4D5AE5;
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fill-icon {
fill: #f4f4fd;
}
.link-icons:hover , .link-icons:focus  {
    background-color: #404bbf;
}
 

/* Our Portfolio */
.our-portfolio-section {
    background:#FFF;
    padding: 120px 0 120px 0;
}
.list-of-offers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}
.items-list-of-offers {
    width: calc((100% - 48px) / 3);  
    border-radius: 0 0 4px 4px;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boxes-for-overlay{
    position: relative;
    overflow: hidden;
}

.overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;

padding: 40px 32px;
background-color: #4D5AE5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items-list-of-offers:hover .overlay{
   transform: translateY(0%);
}
.items-list-of-offers:hover {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-offers {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Footer */
.footer {
    background-color:#2E2F42;
    padding: 100px 0;
}
.logo-web-footer {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display:inline-block;
    margin-bottom: 16px;
    height: 21px;
}

 .logo-studio-footer {
    color:#f4f4fd;
    display:inline-block;
    margin-bottom: 16px;
    height: 21px;
 }

 .text-footer {
    color:#F4F4FD;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px; 
 }
 
 .social-media-footer {
    color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
width: 96px;
height: 24px;
 }
 .pages-social-icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
}
 .container-footer {
    display: flex;
    align-items: baseline;
 }
 .box-footer-one {
    margin-right: 120px
 }
 .icons-hover:hover , .icons-hover:focus {
    background-color: #31D0AA;
 }
 .fill-icon {
    fill: #F4F4FD;
 }
 /* Modal window */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  } 
  .backdrop.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: initial;
  }
  .modal {
    position: relative;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    padding: 72px 24px 24px 24px;
  }
  .modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    fill: #E7E9FC;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    border-radius: 50%;

  }
  
  .modal-btn:hover , 
  .modal-btn:focus {
color: #404BBF;
  }
  .modal-btn-icon {
    fill: #2E2F42;
  }
  .modal-caption {
    color: #2E2F42;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .modal-form {

  }
  .modal-form-wrapper {
    margin-bottom: 8px;
  }

  .form-label {
    display: block;
    margin-bottom: 8px;
    color:#8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16px;
    letter-spacing: 0.04em;
  }
  .form-field {
    position: relative;
  }
.form-input {
    border: 1px solid rgba(46, 47, 66, 0.40);
    display: flex;
    width: 100%;
    height: 58px;
    padding-left: 38px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color:#4D5AE5;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: #2E2F42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
    fill: #4D5AE5;
}
.form-message {
   resize: none;
   width: 100%;
   flex-direction: column;
   padding-top: 8px;
   padding-left: 16px;
   border-radius: 4px;

   font-size: 12px;
   letter-spacing: 0.02em;
   border: 1px solid rgba(46, 47, 66, 0.40);
   outline: transparent;
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message::placeholder {
    color: #8E8F99;
}
.form-message:focus {
    border-color:#4D5AE5;
}
/* Checkbox */
.form-agreement {
    display: block;
    margin-bottom: 24px;

    color:#8E8F99;
font-size: 12px;
line-height: 1.16px;
letter-spacing: 0.04em;
user-select: none;
}
.checkbox {
}
.form-agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 16px;
   height: 16px;
  flex-shrink: 0;
  border-radius: 2px;
  
  border: 1px solid rgba(46, 47, 66, 0.40);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.checkbox:checked + .form-agreement-checkbox {
    background-color: #4D5AE5;
    border-color: #4D5AE5;
}
.checkbox:checked + .form-agreement-checkbox > .form-agreement-icon {
    opacity: 1;
}
.form-agreement-icon {
    opacity: 0;
}
.form-agreement-link {
    color:  #4D5AE5;
text-decoration-line: underline;
}
.form-btn {
    min-width: 105px;
    min-height: 24px;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    color: #FFF;
background-color: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
}